.tile-visual {
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.tile-visual-dark {
  background-color: rgb(59, 59, 62);
}

.tile-visual-light {
  background-color: rgb(40, 40, 50);
}

.grid-block-visual {
  border-radius: 5%;
}

.tile-visual-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  pointer-events: none;
  border-radius: 3px;
  opacity: var(--shadow-opacity, 0);
}