.tile-visual {
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.tile-visual-dark {
  background-color: rgb(59, 59, 62);
}

.tile-visual-light {
  background-color: rgb(40, 40, 50);
}

.grid-block-visual {
  border-radius: 5%;
}

.tile-visual-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  pointer-events: none;
  border-radius: 3px;
  opacity: var(--shadow-opacity, 0);
}

/* Clearing animation overlay */
.tile-visual-clearing {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid white;
  border-radius: 2px;
  pointer-events: none;
  z-index: 10;
  animation: tile-clear-animation 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.tile-visual-clearing.rotate-cw {
  animation-name: tile-clear-animation-cw;
}

.tile-visual-clearing.rotate-ccw {
  animation-name: tile-clear-animation-ccw;
}

@keyframes tile-clear-animation-cw {
  0% {
    transform: rotate(0deg);
    border-radius: 5px;
    opacity: 1;
  }

  100% {
    transform: rotate(90deg);
    border-radius: 50%;
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    right: calc(50% - 2.5px);
    bottom: calc(50% - 2.5px);
    opacity: 0;
  }
}

@keyframes tile-clear-animation-ccw {
  0% {
    transform: rotate(0deg);
    border-radius: 2px;
    opacity: 1;
  }

  100% {
    transform: rotate(-90deg);
    border-radius: 50%;
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    right: calc(50% - 2.5px);
    bottom: calc(50% - 2.5px);
    opacity: 0;
  }
}