/* ShapeOption styles */
.shape-container {
  display: grid;
  grid-template-columns: repeat(4, var(--shape-cell-size));
  grid-template-rows: repeat(4, var(--shape-cell-size));
  gap: var(--shape-cell-gap);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  cursor: pointer;
  touch-action: none;
  box-sizing: border-box;
  border: 3px solid rgba(255, 255, 255, 0.2);
  transform-origin: center;
  overflow: hidden;
  padding: var(--shape-padding);
  transition: var(--animation-transition);
  transform: var(--animation-transform);
  pointer-events: auto;
}

.shape-container.selected {
  border-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.shape-container-hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.shape-cell {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: relative;
  opacity: 1;
}

.shape-cell-selected {
  opacity: 0.1;
}