.full-screen-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  bottom: 1em;
  right: 1em;
  top: auto;
  left: auto;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: lightblue;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}