.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(10, 10, 10);
  gap: 1px;
}

/* Aspect ratio decides whether to favor flex-row for horizonral layouts and flex-column for vertical layouts */
@media (min-aspect-ratio: 1/1) {
  .grid {
    width: 100vh;
    height: 100vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  .grid {
    height: 90vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}