.tetrix {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-color: rgb(10, 10, 10);
  position: relative;
  gap: 20px;
}

/* Portrait/Square screens: ShapeOptions below the grid */
@media (max-aspect-ratio: 1/1) {
  .tetrix {
    flex-direction: column;
  }
}

/* Landscape screens: ShapeOptions to the side of the grid */
@media (min-aspect-ratio: 1/1) {
  .tetrix {
    flex-direction: row;
  }
}