.tetrix {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: rgb(10, 10, 10);
  position: relative;
}

.shapes {
  flex: 1;
}

/* Aspect ratio decides whether to favor flex-row for horizonral layouts and flex-column for vertical layouts */
@media (min-aspect-ratio: 1/1) {
  .tetrix {
    flex-direction: row;
  }

}

@media (max-aspect-ratio: 1/1) {
  .tetrix {
    flex-direction: column;
  }
}