/* Dragging shape styles */
.dragging-shape-container {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  display: grid;
  transition: none;
  top: var(--container-top);
  left: var(--container-left);
  grid-template-columns: repeat(4, var(--tile-size));
  grid-template-rows: repeat(4, var(--tile-size));
  gap: var(--grid-gap);
  transform: scale(var(--scale));
}

.dragging-shape-cell {
  position: relative;
  width: var(--tile-size);
  height: var(--tile-size);
}