.tetrix_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: lightgrey;
}

.tetrix_header_start,
.tetrix_header_middle,
.tetrix_header_end {
  background-color: grey;
  height: 100%;
}

.tetrix_header_start {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.tetrix_header_middle {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetrix_header_end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}