.location_button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 100%;
  border-radius: 0;
  transition: background-color 0.2s ease;
}

.location_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.location_button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.location_button svg {
  width: auto;
  height: 90%;
}