* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}